<div id='viewOne'>
<div class='alert alert-error hidden'></div>
      <div id="unauth">
        <input id="email" type="email" placeholder="Email"/>
        <input id="pass" type="password" placeholder="Password"/>
        <button id="login" class="btn btn-primary">Log in</button>
        <button id="signup" class="btn">Sign up</button>
      </div>
      <div id="logged-in" class="hidden">
        <button id="count" class="btn">Count</button>
        <button id="logout" class="btn btn-danger">Log out</button>
        <div id="output">
        </div>
      </div> 
</div>